[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trafilatura = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
httpx = "*"
beautifulsoup4 = "*"
chardet = "*"
lxml = "*"
fake-useragent = "*"
backoff = "*"

[dev-packages]

[requires]
python_version = "3.12"
